/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.language-javascript {
    white-space: break-spaces !important;
}

pre {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr;
    gap: 1rem;
    grid-template-areas:
        "code json"
        "img img";
}
.code-snipped {
    grid-area: code;
}
.json-snipped {
    grid-area: json;
}
.image-wrapper {
    grid-area: img;
}

.btn-github {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.8;
    transition: opacity 0.1s linear;
    z-index: 2;
}

input:focus,
select:focus {
    border-color: #b1b1b1;
    -webkit-box-shadow: 0 0 0 4px #b7d7f9;
    box-shadow: 0 0 0 4px #b7d7f9;
    outline: 0;
}
