/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.language-javascript {
    white-space: break-spaces !important;
}

pre {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr;
    gap: 1rem;
    grid-template-areas:
        "code json"
        "img img";
}
.code-snipped {
    grid-area: code;
}
.json-snipped {
    grid-area: json;
}
.image-wrapper {
    grid-area: img;
}
